:root {
    --blue: #2596be;
    --blue-green: #30c1bc;
    --green: #4cd79f;
    --light-mode: #c0d3d1;
    --dark-mode: #042524;
}

html {
    font-family: "Poppins", sans-serif;
    background: var(--light-mode);
    color: #000c0b;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.vs-title {
    text-align: center;
    color: var(--light-mode);
    background: linear-gradient(var(--blue), var(--green));
    padding: 1em;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    transition: color 0.3s ease;
}

.vs-info-border {
    border-radius: 0.3em;
    background: linear-gradient(var(--blue), var(--green));
    padding: .5em;
    margin: 1em;
}

.vs-info {
    background: var(--light-mode);
    margin: 0;
    padding: 1em;
    border-radius: 0.3em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.image-comparison-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    place-items: center;
}

.image-preview {
    width: 100%;
    height: auto;
}

.choose-image {
    margin-top: 1em;
    display: grid;
    margin-bottom: 1em;
    justify-self: center;
}

.vs-settings {
    margin-bottom: 1em;
    justify-self: center;
}

.vsi {
    text-decoration: none;
    color: #000c0b;
    transition: color 0.3s ease;
}

.dark-mode-background .vsi {
    color: var(--light-mode);
}

.vsi:hover {
    text-decoration: underline;
    color: var(--blue-green);
}

input[type='range'] {
    accent-color: var(--blue-green);
}

.top-bar {
    margin-top: 1em;
    border-bottom: .2em solid var(--blue-green);
    width: 100%;
}

footer p {
    justify-self: center;
}

.dark-mode-text {
    color: var(--light-mode);
}

.dark-mode-title {
    color: #000c0b;
}

.dark-mode-background {
    background: #000c0b;
}

.display-button {
    border: none;
    padding: 0;
    background: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.display-button img {
    height: 2.5em;
    width: auto;
}

.display-button:hover {
    cursor: pointer;
}

label, span, h3, p, strong, em {
    transition: color 0.3s ease;
}

