.vs-title {
    text-align: center;
}

.image-comparison-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.image-preview {
    width: 50%;
    height: auto;
}

.choose-image {
    display: grid;
}